*{
    box-sizing: border-box;
}

.vermelho{
    color: red;
    text-align: center;
}
.azul{
    color: blue;
}
#verde{
    color: green;
}
body {
    background-color:white ;
    font-family: 'Press Start 2P', cursive;
    font-size:20px ;
    font-weight: bolder;
    width: 80%;
    /*Margin:espaçamento fora do conteúdo*/ 
    margin: auto;
    /*padding:espaçamento dentro do conteúdo padding:34px; sendo o ajusto atomatico das propoçao*/
    padding-top: 34px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 34px;
    /*border:é a borda XD*/
    border: 3px solid black;
    /*obs:box-sizing ajusta os pixeis da lagura/altura*/
    box-sizing: border-box;
}
.main-aside ul{
    list-style: none;
    text-align: center;
    padding: 0;
}
.main-aside h2 {
    text-align: center;
}

.main-aside ul a{
    text-decoration: none;
    color:black
}
/*mouse por cima:hover*/
.main-aside ul a:hover {
    color:red
}
.main-aside h2:hover{
    color:green;
    cursor: pointer;
}

.main-aside ul a:visited{
    color:green;
}

/*Formularios*/
.main-form{
    padding-left: 20px;
}

.main-form .form-group{
 padding-bottom: 10px;
}
.main-form .form-group input{
    padding: 10px;
}

.main-form .form-group label{
    display: block;
}

.button{
    padding: 15px;
    background-color: black;
    color: white;
    border: white;
}

/*Position*/
  .relative{
      position: relative;
      border: 3px solid black;
      height: 500px;
  }
  .relative .absolute{
      position: absolute;
      bottom: 0;
  }

  #main-navbar{
      background:black ;
      color: white;
      padding: 15px;
      text-align:center;
      margin-bottom: 10px ;
      position: sticky;
      top: 0;
  }
/*Pseudo-classes(first-child, last-child e nth-child))*/